<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <input type="button" class="btn btn-lg btn-primary" onclick="open()"><span class="glyphicon glyphicon-download"></span> Abrir autenticador</input>
  </div>
</div>


</body>
</html>
